/*Bordes redondeados*/
.bordes-boton{
    border-radius: 4px;
}

/*Alinear boton a la derecha*/
.align-derecha{
    float: right;
}

/*Boton enviar de CORREOS MASIVOS*/
    .btn-enviar{
        background-color: yellowgreen;
        float: right;
    }
    .btn-enviar:hover{
        background-color: rgb(108, 199, 17);
    }

/*Botones modal edit*/  
    .btn-guardar{
        background-color: rgb(89, 175, 19);
        color: white;
    }
    .btn-guardar:hover{
        background-color: rgb(73, 163, 0);
        border-color: rgb(89, 175, 19);
}

/*Botones de aliados*/
    .btn-add-aliado{
        background-color: rgb(99, 197, 6);
        float: right;
        color: rgb(255, 255, 255);
    }
    .btn-add-aliado:hover{
        background-color: rgb(83, 160, 10);
        border-color: rgb(99, 197, 6);
    }
    .btn-aliados{
        font-family: 'Montserrat', sans-serif;
        font-size: 85%;
        border-color: rgb(234, 173, 60);
        background-color: rgb(234, 173, 60);
        color: rgb(255, 255, 255);
    }
    .btn-aliados:hover{
        transition: all 0.5s;
        background-color: rgb(236, 139, 27);
        border-color: rgb(255, 156, 25);
        color: white;
    }
    .btn-aliados-detalles{
        background-color: rgb(82, 89, 85);
        color: white;
    }
    .btn-aliados-detalles:hover{
        background-color: rgb(56, 59, 58);
    }

/*Botones de las peticiones*/
    /*VER*/
        .btn-aver{ 
            background-color: rgba(126, 219, 32, 0); 
            border-color: rgb(0, 153, 173); 
            font-size:25%; color: rgb(0, 153, 173); 
            
        }  
        .btn-aver:hover{ 
            background-color: rgb(0, 153, 173);  
            border-radius: 2em; 
            border-color: rgb(0, 153, 173); 
            color: white;
        }
        .boton-aver {
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        .boton-aver i {
            vertical-align: middle;
            position: relative;
            transition: 0.5s;
        }  
        .boton-aver i::after {
            font-family: 'Montserrat', sans-serif;
            font-size: 70%;
            content: 'ver';
            color: black;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0px;
            transition: 0.5s;
        }
        .boton-aver:hover i { padding-right: 50px; }
        .boton-aver:hover i::after { opacity: 1; left: 45%; }
    /*APROBAR PETICION*/
        .btn-aprobar{ 
            background-color: rgba(126, 219, 32, 0); 
            border-color: rgb(103, 139, 29); 
            font-size:25%; color: rgb(126, 219, 32); 
            
        }  
        .btn-aprobar:hover{ 
            background-color: rgb(76, 145, 7); 
            border-radius: 2em; 
            border-color: rgb(103, 139, 29);
            color: white;
        }
        .boton-done {
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        .boton-done i {
            vertical-align: middle;
            position: relative;
            transition: 0.5s;
        }  
        .boton-done i::after {
            font-family: 'Montserrat', sans-serif;
            font-size: 70%;
            content: 'aprobar';
            color: black;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0px;
            transition: 0.5s;
        }
        .boton-done:hover i { padding-right: 80px; }
        .boton-done:hover i::after { opacity: 1; left: 30%; }
    
    /*RECHAZAR PETICION*/
        .btn-rechazar{ 
            background-color: rgba(126, 219, 32, 0); 
            border-color: rgb(167, 1, 1); 
            font-size:25%; color: rgb(219, 32, 32); 
            
        }  
        .btn-rechazar:hover{ 
            background-color: rgb(219, 32, 32); 
            border-radius: 2em; 
            border-color: rgb(167, 1, 1);
            color: white;
        }
        .boton-rechazar {
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        .boton-rechazar i {
            vertical-align: middle;
            position: relative;
            transition: 0.5s;
        }  
        .boton-rechazar i::after {
            font-family: 'Montserrat', sans-serif;
            font-size: 70%;
            content: 'rechazar';
            color: black;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0px;
            transition: 0.5s;
        }
        .boton-rechazar:hover i { padding-right: 80px; }
        .boton-rechazar:hover i::after { opacity: 1; left: 30%; }
/***********************************************************/